name: Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: maven-setings-action
      uses: s4u/maven-settings-action@v2.3.0
      with:
        servers: '[{"id": "nexus-releases", "username": "${{ secrets.MAVEN_REPO_USER }}", "password": "${{ secrets.MAVEN_REPO_PASS }}"}]'
    - name: Maven build
      run: mvn -B --batch-mode -Drevision=.$GITHUB_RUN_NUMBER clean package
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
        path: target/*.jar
    - name: Maven deploy
      run: mvn --batch-mode -Drevision=.$GITHUB_RUN_NUMBER deploy
